{% extends "login.html" %} {% block loginsignup %}Create a New Acount{% endblock %} 
{% block more_form %}
    {% if value1 %}
        <div> <input required type="email" value="{{ value1 }}" name="signup_email"> </div> 
        <div> <input required type="text" value="{{ value2 }}" name="signup_username"> </div>
        <div> <input required type="password" value="{{ value3 }}" name="signup_password"> </div> 
        <div> <input required type="password" placeholder="check password" name="signup_password_check"> </div>
    {% else %}
        <div> <input required type="email" placeholder="enter email" name="signup_email"> </div> 
        <div> <input required type="text" placeholder="enter username" name="signup_username"> </div>
        <div> <input required type="password" placeholder="enter password" name="signup_password"> </div> 
        <div> <input required type="password" placeholder="check password" name="signup_password_check"> </div>
    {% endif %}
{% endblock %}
{% block logsign %}Sign Up{% endblock %}
{% block head_text %}One of Us?{% endblock %}
{% block signlog_text %}Already have a acount, just log in and make lists your way.{% endblock %}
{% block logtok %}<a href="/login"><button class="signup_btn">Sign In</button></a>{% endblock %}
{% block content %}{% endblock %}