.login_parent{
    width: 100vw;
    height: 100vh;
    display: flex;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


@media (min-width: 1100px) {
    .left_login{
        width: 77%;
        z-index: 2;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right_login{
        width: 23%;
        z-index: 4;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(0,13,255);
        background: linear-gradient(229deg, rgba(0,13,255,0.8155418417366946) 7%, rgba(118,0,186,0.9387911414565826) 25%, rgba(205,16,115,0.9387911414565826) 81%);
    }

    .center_signup{
        height: auto;
        width: auto;
    }

    .center_signup div{
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        align-items: center;
    }

    .welcome_text{
        font-size: 4vh;
        font-weight: bold;
        color: white;
        margin-bottom: 4vh;
        font-family: 'Poppins', sans-serif;
    }

    .login_text{
        color: rgba(255, 255, 255, 0.833);
        font-family: 'Poppins', sans-serif;
        font-size: 1.8vh;
        margin-bottom: 4vh;
        width: 17vw;
        font-weight: 100;
    }

    .flex_top p{
        color: rgb(206, 16, 114);
        font-family: 'Courgette', cursive;
        font-size: 2.3vh;
        margin: 0.8vh 0vw 0px 1vw;
    }

    .signup_btn{
        background-color: white;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vh 3vw;
        border: none;
        font-family: 'Poppins', sans-serif;
        color: rgb(12, 12, 12);
        font-size: 1.3vh;
        cursor: pointer;
    }



    form{
        width: auto;
        height: auto;
    }

    .center_signup div{
        display: flex;
        justify-content: center;
        width: auto;
    }

    .header_login{
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: 3.8vh;
        margin-bottom: 2.3vh;
        display: flex;
        justify-content: center;
    }

    .login_input input{
        margin: 1.3vh 0vw;
        border: 1px solid black;
        border-radius: 16px;
        background-color: white;
        color: rgb(181, 181, 181);
        font-family: 'Poppins', sans-serif;
        padding-left: 3px;
        align-items: center;
        width: 17vw;
        font-size: 1.6vh;
        height: 2.75vh;
    }

    .login_input div{
        display: flex;
        justify-content: center;
    }

    .left_login button{
        background-color: rgba(205,16,115,0.9387911414565826);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vh 3vw;
        border: none;
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.3vh;
        cursor: pointer;
        margin-top: 2.3vh;
    }

    .signup_submit{
        display: flex;
        justify-content: center;
    }
}